.simple-keyboard {
    max-width: 360px;
    margin: auto;
}
.simple-keyboard.hg-layout-default .hg-button.key-green {
    background: #009933;
}
.simple-keyboard.hg-layout-default .hg-button.key-yellow {
    background: #ffcc00;
}
.simple-keyboard.hg-layout-default .hg-button.key-grey {
    background: #808080;
}
